version: '3'

services:

  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - /data:/data/db

  api:
    image: kobbikobb/guessthename_api:latest
    restart: always
    environment:
      MONGO_DB_URI: "mongodb://mongo/api" 
    links:
      - mongo

  frontend:
    image: kobbikobb/guessthename_frontend:latest
    container_name: frontend
    restart: always
    environment:
      API_BASE_URL: api
    links:
      - api

  nginx-proxy:
    depends_on:
      - api
      - frontend
    image: nginx:alpine
    volumes: 
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
