version: '3'

services:

  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'

  api:
    build: ./api
    container_name: api
    restart: always
    environment:
      MONGO_DB_URI: "mongodb://mongo/api" 
    links:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    environment:
      API_BASE_URL: api
    links:
      - api

  nginx-proxy:
    depends_on:
      - api
      - frontend
    image: nginx:alpine
    volumes: 
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
