name: Docker Image CI

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::772142012667:role/Github-role
          aws-region: us-east-1
      -
        name: Login to Amazon public ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
      -
        name: Build and push images
        run: |
          ./scripts/build-frontend.sh
          ./scripts/build-api.sh
          ./scripts/build-worker.sh
          ./scripts/push-frontend.sh
          ./scripts/push-api.sh
          ./scripts/push-worker.sh
          
  deploy-to-aws:
    if: ${{ false }}  # disable for now
    runs-on: ubuntu-latest
    needs: build-and-push-images
    steps:
      -
        name: Deploy the app
        run: |
            aws deploy create-deployment \
            --application-name guessthename \
            --deployment-group-name guessthename-dev \
            --s3-location bucket=guessthename.codedeploy.bucket,key=code-deploy-docker-compose.zip,bundleType=zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEPLOY_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEPLOY_SECRET }}
          AWS_DEFAULT_REGION: us-east-1

  
